<p id="notice"><%= notice %></p>

<div id="rsvp-container" class="container">

  <h1>RVSP List</h1>

  <div class="row">
    <div class="col-sm-4">
      <ul class="list-unstyled">
        <li><strong><%= @all_day.count %></strong> all-day guests <a id="show-all-day" href="#"><i class="fa fa-search"></i></a> </li>
        <li><strong><%= @night_only.count %></strong> evening-only guests <a id="show-evening" href="#"><i class="fa fa-search"></i></a></li>
      <li><strong><%= @not_coming.count %></strong> not coming <a id="show-not-coming" href="#"><i class="fa fa-search"></i></a></li>
      </ul>
    </div>

    <div class="col-sm-4">
      <ul class="list-unstyled">
        <li><strong><%= @rsvps.count %></strong> replies</li>
        <li><strong><%= @guests %></strong> guests <a id="show-guests" href="#"><i class="fa fa-search"></i></a></li>
        <li><strong><%= @total %></strong> total people are coming</li>
      </ul>
    </div>

    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Events</th>
        <th>Guests</th>
        <th>Guestinfo</th>
        <th>Message</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @rsvps.each do |rsvp| %>
        <tr>
          <td><%= rsvp.name %></td>
          <td><%= rsvp.email %></td>
          <td><%= rsvp.phone %></td>
          <td><%= rsvp.events %></td>
          <td><%= rsvp.guests %></td>
          <td><%= rsvp.guestinfo == '0' ? '' : rsvp.guestinfo %></td>
          <td><%= rsvp.message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script src="/theme/plugins/jquery-1.11.3.min.js"></script>
<script src="/js/rsvps.js"></script>
